li {
	list-style-type: none;
}

.dis_data {
	display: none;
}

.product {
	background: #FFFFFF;
	height: 2.5rem;
	position: relative;
	line-height: 2.5rem;
	padding-left: 15px;
}

.li {
	padding: 0 15px;
	text-align: left;
	font-size: 0.93rem;
	position: relative;
	background: #FFFFFF;
	height: 2.03rem;
	line-height: 2.03rem;
}

.tongkuan li img {
	width: 1.34rem;
	position: absolute;
	right: 15px;
	top: 0.5rem;
	display: none;
}

.li1 {
	z-index: 999;
}

.li2 {
	background: #EEEEEE;
	line-height: 2.03rem;
}

.color {
	color: #F62525;
}

ul {
	padding: 0;
}

.mui-backdrop {
	position: fixed;
	z-index: 888;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
}

.item {
	width: 100vw;
	height: 2.5rem;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 1rem;
	position: relative;
	left: 0;
}

.item_01 {
	font-size: 0.93rem;
	color: #333333;
	line-height: 2.5rem;
	margin-right: 0.5rem;
}

.jiayizhang {
	color: #f62525;
	margin-right: 1rem;
}

.chuanpingtu {
	width: 10.21rem;
	height: 11rem;
	background: #f1f1f1;
	margin-left: 1rem;
	font-size: 1.12rem;
	text-align: center;
	line-height: 11rem;
	color: #999999;
	border-radius: 5px;
	float: left;
	margin-bottom: 1rem;
	position: relative;
}

.left {
	display: none;
}

.chuanpingtu img {
	position: absolute;
	width: 10.21rem;
	height: 11rem;
	left: 0;
	top: 0;
}

.zhutu {
	display: none;
}
.BtnClass{
	width: 100%;
	text-align: center;
}
.saveBtn {
	width: 6.71rem;
	height: 2.59rem;
	border-radius: 1.31rem;
	border: none;
	background: #ff0000;
	color: #FFFFFF;
	display: inline-block;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.cangku {
	display: none;
}

.gongchang {
	display: none;
}

.right {
	float: right;
	margin-right: 1rem;
}

.letf_down {
	float: left;
	margin-top: 1rem;
}

.right_down {
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
}

.fuwumingcheng {
	border: none;
	margin-top: 0rem;
	margin-left: 5rem;
}

.blue {
	width: 12.71rem;
	height: 2.59rem;
	border-radius: 1.31rem;
	border: none;
	background: #ff0000;
	color: #FFFFFF;
	position: fixed;
	bottom: 3rem;
	left: 25vw;
}

.button1 {
	color: #333333;
}

.item_logo {
	width: 92vw;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 1rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
	margin-bottom: 1rem;
}

.logo_text {
	display: inline-block;    
	vertical-align: bottom;
    line-height: 9rem;
}

.logo_img {
	display: inline-block;
	width: 9rem;
	height: 9rem;
	background: #f1f1f1;
	margin-left: 3rem;
	font-size: 1.12rem;
	text-align: center;
	line-height: 9rem;
	color: #999999;
	border-radius: 5px;
	position: relative;
	margin-top: 1rem;
}

.logo_img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 9rem;
	height: 9rem;
	border-radius: 5px;
	vertical-align: middle;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
	width: 60vw;
	height: 2rem;
	line-height: 1.2rem;
	border: none;
	position: absolute;
	right: 2rem;
	top: 0.5rem;
	font-size: 0.93rem;
	padding: 0;
	padding-left: 0.5rem;
	color: #333333;
	margin-bottom: 0;
}

.mui-popover.mui-popover-action .mui-table-view {
	margin: 0px;
	border-radius: 0px;
}

.mui-table-view-cell>a:not(.mui-btn).mui-active {
    background-color:#fff !important;
}

.mui-table-view-cell>.mui-btn.r54{
	right: 70px;
}
.yaoqiu {
	width: 91.8vw;
	height: 63vw;
	display: block;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	border: 1px solid #E5E5E5;
	position: initial;
	margin:  auto;
}
.zwmsLi{
	padding: 15px;
	display: inline-block;
}
