li {
	list-style-type: none;
}
ul {
	padding: 0;
	margin-top: 2.31rem;
}
.item {
	width: 100vw;
	padding-bottom: 1rem;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 1rem;
	position: relative;
	left: 0;
}
.item_01 {
	height: 2.5rem;
	margin-left: 0rem;
	line-height: 2.5rem;
	color: #999999;
}
.item_02 {

	padding-bottom: 0.2rem;
	margin-left: 0rem;
	line-height: 2.5rem;
}
.item_03{
	padding-top: 0.8rem;
	height: 18.87rem;	
}
.item_04 {
	height: 2.5rem;
	margin-left: 0rem;
	line-height: 2.5rem;
}
.input {
	border: none;
}
.yaoqiu {
	width: 91.8vw;
	height: 63vw;
	display: block;
	margin-top: 2.4rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	border: 1px solid #E5E5E5;
}
.fuwumingcheng {
	border: none;
}
.mui-btn-blue {
	width: 12.71rem;
	height: 2.59rem;
	border-radius: 1.31rem;
	border: none;
	background: #ff0000;
	color: #FFFFFF;
	display: block;
	margin: auto;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.button {
	display: inline-block;
	width: 4.12rem;
	height: 1.21rem;
	background: none;
	border: 1px solid #bfbfbf;
	color: #666666;
	border-radius: 1.31rem;
	margin-top: 0.8rem;
	font-size: 0.75rem;
	text-align: center;
	line-height: 1.21rem;
	margin-right: 1rem;
	
}
.button_01 {
	background: #F62525;
	color: #FFFFFF;
	border: 1px solid #F62525;
}

.blue {
	width: 12.71rem;
	height: 2.59rem;
	border-radius: 1.31rem;
	border: none;
	background: #ff0000;
	color: #FFFFFF;
	display: block;
	margin: auto;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.item_logo{
	width: 92vw;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 1rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
	margin-bottom: 1rem;

}
.logo_text {
	display: inline-block;   
}
.logo_text.logoImg {  
	vertical-align: bottom;
    line-height: 9rem;
}
.logo_img {
	display: inline-block;
	width: 9rem;
	height: 9rem;
	background: #f1f1f1;
	margin-left: 3rem;
	font-size: 1.12rem;
	text-align: center;
	line-height: 9rem;
	color: #999999;
	border-radius: 5px;
	position: relative;
	margin-top: 1rem;
}
.logo_img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 9rem;
	height: 9rem;
	border-radius: 5px;
}
.Reason{
	width: 100%;
	clear: right;
    padding:1rem 1rem 0.6rem;
}
.floatRight{
	float: right;
	color: #f62525;
}
.Reason span:nth-of-type(2){
	color: #666666;
    font-size: 0.8rem;
}

.recruit{
	padding-left: 1rem;
}
.recruitImg{
	width: 10rem;
    height: 11rem;
    margin: 0.5rem 1rem 0.5rem 0;
    display: inline-block;
}

.recruitImg img{
	width: 10.21rem;
    height: 11rem;
}    