body{
	height: 100%;
	overflow: hidden;
	background: white;
}
.mui-bar-nav~.mui-content {
}
.mui-indexed-list-inner {
	    padding-bottom: 15rem;
}
.mui-indexed-list-bar {
    width: 23px;
    position: fixed;
    top: 7rem;
    height: 100%;
    z-index: 10;
    right: 0px;
    -webkit-transition: 0.2s;
}
.mui-indexed-list-bar a {
    display: block;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    color: #000;
    height: 1.2rem !important;
}
.mui-indexed-list-bar.active {
    background-color: rgb(200,200,200);
}
.mui-indexed-list-bar.active a {
    color: #333;
}
.mui-indexed-list-bar.active a.active {
    color: #000;
}
.mui-indexed-list-alert {
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    color: #fff;
    display: none;
    -webkit-transition: .2s;
}
.mui-indexed-list-alert.active {
    display: block;
}
.actionbar1{
	background: #f3f3f3;
/*	height: intrinsic !important;*/
	text-align: left;
}
.mui-indexed-list-search.mui-input-row.mui-search {
	width: 80%;
    left: 1rem;
    top: 0.4rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
}
.mui-search .mui-placeholder{
	text-align: left;
    padding-left: 1rem;
}
.mui-input-clear.mui-indexed-list-search-input{
	border-radius: 40px;
	background: white;
	height: 1.87rem;
}
.mui-icon-search:before {
	margin-left: 5px;
}
/*.mui-search .mui-placeholder {
	line-height: 4.5rem;
}*/
ul{
	list-style-type: none;
	padding: 0 0 0.76rem 1rem;
	margin: 0;
	background: white;
}
.ul{
	font-size: 0.87rem;
	color: #9c9c9c;
	padding-top: 0.75rem;
	padding-bottom: 0.3rem;
}
.city{
	width: 6rem;
	height: 1.87rem;
	border: 1px solid #f62525;
	text-align: center;
	line-height: 1.87rem;
	color: #F62525;
	border-radius: 4px;
	margin-top: 0.40rem;
}
.city img{
	width: 0.68rem;
	vertical-align: middle;
}
.city1 span{
	display: inline-block;
	width: 6rem;
	height: 1.87rem;
	border: 1px solid #c6c6c6;
	text-align: center;
	line-height: 1.87rem;
	color: #333;
	border-radius: 4px;
	margin-right: 0.68rem;
	margin-top: 0.68rem;
}
.zimu1{
	width: 21.37rem;
	background: #F3F3F3;
	height: 2rem;
}
.zimu{
	display: inline-block;
	line-height: 2rem;
	margin-left: 1rem;
	color: #333;
}
