html {
	background: #F0F0F0;
}

.actionbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.right {
	padding: 0;
	font-size: 0.5rem;
	color: white;
	text-align: center;
	position: absolute;
	right: 0.5rem;
}

.right img {
	position: relative;
}

.information {
	width: 0.62rem;
	height: 0.62rem;
	border-radius: 0.32rem;
	background: #FF0000;
	position: absolute;
	top: -0.3rem;
	right: -0.3rem;
}

.ul_1 {
	padding: 0;
	margin: 0;
	clear: left;
}

.mui-bar .mui-icon {
	padding-top: 20px;
}

a {
	color: #333333;
}

.rightiMessage {
	width: 1.12rem; 
	height: 1.12rem;
	position: absolute; 
	margin-right: 0.63rem;
	top:0.35rem;
	margin-top: initial !important;
}
.rightiMessage img{
	width: 1.12rem;
	vertical-align: middle;
}
.mui-input-row.mui-search{
	width: 80vw; 
	left: 1rem; 
	top: 0.4rem;
}
.mui-input-row.mui-search input{
	border-radius: 4rem;
}
.actionbar{
	position: fixed;
	top: 0;
}
.mui-content{
	margin-top: 3.8rem;
}
.li {
    margin-right: 1px;
    padding: 0.4rem 0 8px 0;
    list-style-type: none;
    /* display: inline-block; */
    width: 11.66rem;
    height: 15rem;
    overflow: hidden;
    background: white;
    /* text-align: center; */
    padding-left: 0.5rem;
    margin-top: 0.1rem;
    float: left;
}
.mui-media-object img {
    height: 10.5rem;
    width: 10.5rem !important;
}
.mui-media-body {
    font-size: 0.87rem;
    text-align: left;
    padding-left: 0.3rem;
    color: #333333;
    padding-top: 0.25rem;
    overflow: hidden;
    width: 90%;
    display: inline-block;
    vertical-align: text-top;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price1 {
    padding-top: 1rem;
}
.price {
    font-size: 1.06rem;
    color: #f62525;
    padding-left: 0.3rem;
}
del {
    font-size: 0.75rem;
    color: #999999;
    vertical-align: text-top;
    line-height: 1.1rem;
}
.shopping {
    height: 1.68rem;
    float: right;
    margin-right: 0.5rem;
    font-size: 10px;
    color: #999999;
}