
body{
	background: #f0f0f0;
}
.left1{
	width: 48px;
}
.right{

	background-size: 100% 100%;
	padding: 0;
	font-size: 0.5rem;
	color: white;
	text-align: center;
}
.content {
	height: 22.13vw;
	background: #FFFFFF;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	position: relative;
	border-bottom: 1px solid #f5f5f5;
}
.shop img{
	width: 17.6vw;
	height: 17.6vw;
}
.content-text {
	max-width: 12.71rem;
	overflow: hidden;
	position: absolute;
	top: 0.6rem;
	margin-left: 0.5rem;
	font-size: 0.81rem;
}
.content-text1 {
	color: #999999;
	max-width: 12.71rem;
	overflow: hidden;
	position: absolute;
	top: 3.6rem;
	margin-left: 0.5rem;
	font-size: 0.81rem;
}
.button {
	width: 4.5rem;
	height: 1.66rem;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #F62525;
	background: none;
	position: absolute;
	right: 1rem;
	top: 2rem;
	text-align: center;
	padding:1px 0 0;
	line-height: 1.66rem;
}
.information{
	width: 0.62rem;
	height: 0.62rem;
	border-radius: 0.32rem;
	background: #FF0000;
	margin-top: -1rem;
	margin-right: -1.16rem;
}
.shopping_cart{
	text-align: center;
	margin-top: 10.88rem;
}
.shopping_cart img{
	width: 3.5rem;
}
.text1{
	margin-top: 0.87rem;
	text-align: center;
}
.text_1{
	font-size: 0.87rem;
	color: #999999;
}
.get-code{
	font-size: 0.93rem;
	width: 6.37rem;
	height: 2.18rem;
	border-radius: 2px;
	background: none;
	border: 1px solid #ff0000;
	color: #ff0000;
}
.get-code1{
	text-align: center;
	margin-top: 1.44rem;
}
