body {
	background: #f0f0f0;
	height: 100%;
}

li {
	list-style-type: none;
	background: #FFFFFF;
}

ul {
	padding: 0;
	background: #F0F0F0;
}

.content {
	position: relative;
}

.wuliu {
	height: 5.93rem;
	padding-left: 0rem;
	position: relative;
	border-bottom: 1px solid #E5E5E5;
}

.shop {
	width: 4.4rem;
	height: 4.4rem;
	background-size: 100% 100%;
	position: absolute;
	top: 0.8rem;
}

.shop_one {
	margin-left: 1rem;
}

.shop_dizhuan {
	background-size: 100% 100%;
}

.shop_qiege {
	background-size: 100% 100%;
}

.shop_fuwu {
	background-size: 100% 100%;
}

.shop_zhaopin {
	background-size: 100% 100%;
}

.xiangqing {
	width: 16.5rem;
	height: 4.4rem;
	position: absolute;
	top: 0.8rem;
	left: 6rem;
}

.xiangqing_one {
	width: 15.5rem;
	margin-left: 1rem;
}

.tihuo {
	width: 3.5rem;
	height: 0.87rem;
	border: 1px solid #FF0000;
	font-size: 0.58rem;
	line-height: 0.87rem;
	text-align: center;
	color: #FF0000;
	border-radius: 1px;
}

.daida {
	width: 3.5rem;
	height: 0.87rem;
	border: 1px solid #4dd2e2;
	font-size: 0.58rem;
	line-height: 0.87rem;
	text-align: center;
	color: #4dd2e2;
	border-radius: 1px;
	position: absolute;
	left: 4rem;
	top: 1.4rem;
}

.posun {
	width: 3.5rem;
	height: 0.87rem;
	border: 1px solid #5cb3f5;
	font-size: 0.58rem;
	line-height: 0.87rem;
	text-align: center;
	color: #5cb3f5;
	border-radius: 1px;
	position: absolute;
	left: 8rem;
	top: 1.4rem;
}

.didian {
	margin-top: 1rem;
}

.didian_one {
	margin-top: 0.6rem;
}

.jiage {
	color: #F62525;
	font-size: 1rem;
}

.danwei {
	color: #F62525;
	font-size: 0.75rem;
	margin-left: -0.2rem;
}

.zhuanweifu {
	margin-left: 7rem;
}

.gangzhou {
	font-size: 0.75rem;
	color: #666666;
	margin-left: 1.5rem;
}

.jiantou {
	font-size: 0.75rem;
	color: #666666;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

.shaoguan {
	font-size: 0.75rem;
	color: #666666;
}

.shenhe {
	position: absolute;
	right: 0;
	font-size: 0.75rem;
	color: #F62525;
	margin-left: 2rem;
}

.dizhi {
	height: 2.12rem;
	position: relative;
	padding-left: 1rem;
	border-bottom: 1px solid #E5E5E5;
}

.dingwei {
	width: 0.75rem;
	height: 0.87rem;
	background-size: 100% 100%;
	position: absolute;
	top: 0.6rem;
}

.dingweidizhi {
	font-size: 0.81rem;
	color: #666666;
	line-height: 2.12rem;
	margin-left: 1rem;
}

.bianju {
	width: 1rem;
	height: 1rem;
	background-size: 100% 100%;
	position: absolute;
	top: 0.1rem;
	right: 2rem;
}

.xiugai {
	font-size: 0.81rem;
	color: #666666;
	margin-left: 2.8rem;
	position: absolute;
	right: 0;
}

.choice1 {
	background-size: 100% 100%;
	height: 1rem;
	width: 1rem;
	position: absolute;
	margin-top: 2.93rem;
	left: 0.56rem;
}

.choice2 {
	background-size: 100% 100%;
	height: 1rem;
	width: 1rem;
	position: absolute;
	margin-top: 2.93rem;
	left: 0.56rem;
}

.content-select {
	position: fixed;
	bottom: 0rem;
	left: 0;
	height: 2.81rem;
	width: 67%;
	background: white;
	padding-left: 0.56rem;
	font-size: 0.75rem;
	color: #222222;
}

.content-select_1 {
	background-size: 100% 100%;
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 0.8rem;
	left: 0.56rem;
}

.content-select_2 {
	background-size: 100% 100%;
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 0.8rem;
	left: 0.56rem;
}

.total {
	position: absolute;
	top: 0.7rem;
	left: 2rem;
	font-size: 0.93rem;
}

.settlement {
	position: fixed;
	bottom: 0rem;
	right: 0;
	height: 2.81rem;
	width: 33%;
	background: #f62525;
	text-align: center;
	line-height: 2.81rem;
	color: white;
}

.text_text {
	line-height: 2.8rem;
	vertical-align: middle;
	display: inline-block;
}

.content_product {
	margin-top: 0.0rem;
	height: 5rem;
	background: #f8f8f8;
	position: relative;
}

.content_product span {
	display: inline-block;
}

.product {
	background-size: 100% 100%;
	width: 3.75rem;
	height: 3.75rem;
	position: absolute;
	margin-top: 0.60rem;
	left: 0.93rem;
}

.content1-text {
	position: absolute;
	top: 0.6rem;
	left: 5.06rem;
	right: 3rem;
	height: 4.2rem;

}

.content1-text span {
	display: block;
}

.content-text1 {
	font-size: 0.75rem;
	color: #333333;
	height: 2.5rem;
	line-height: 1.25rem;
	/*width: 100%;*/
	text-overflow: ellipsis;
	overflow: hidden;
}

.content-text2 {
	font-size: 0.62rem;
	color: #999999;
	margin-top: 0.05rem;
	position: relative;
	width: 100%;
}

.number1 {
	position: absolute;
	font-size: 0.62rem;
	color: #999999;
	margin-top: 0.2rem;
	right: -1.3rem;
}

.content_name {
	margin-top: 10px;
	/*border-top: 0.65rem solid #ffff;*/
	background: #FFF;
	height: 2.8rem;
	/*padding-left: 0.56rem;*/
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.content1 span {
	float: left;
}

.shop1 img {
	margin-right: 0.43rem;
	top: -0.5rem;
	margin-left: 1rem;
}

.name {
	font-size: 0.87rem;
	color: #000000;
}

.jiantou1 img {
	width: 0.37rem;
	height: 0.62rem;
}

.payment {
	font-size: 0.75rem;
	color: #f62525;
	float: right;
	margin-right: 1rem;
}

.content_payment {
	background: white;
	height: 2.18rem;
	text-align: right;
	padding-right: 1rem;
	line-height: 2.18rem;
	font-size: 0.81rem;
	color: #333333;
	border-bottom: 1px solid #e5e5e5;
}

.payment1 {
	background: white;
	height: 2.68rem;
	padding-top: 0.6rem;
}

.payment3 {
	border: 1px solid #ff0000;
	color: #FF0000;
}

.payment1 div {
	float: right;
	margin-right: 1rem;
	text-align: center;
	line-height: 1.43rem;
	width: 4.06rem;
	height: 1.43rem;
	border-radius: 4px;
	border: 1px solid #ff0000;
	color: #FF0000;
	font-size: 0.8rem;
}

.content_product1 {
	height: 7.56rem;
	background: white;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}

.content_product1 span {
	display: inline-block;
}

.product2 {
	background-size: 100% 100%;
	width: 6.25rem;
	height: 6.25rem;
	position: absolute;
	margin-top: 0.60rem;
	left: 1rem;
	text-align: center;
	vertical-align: middle;
}

.content-text3 {
	position: absolute;
	top: 1.2rem;
	left: 7.85rem;
	right: 1.2rem;
	height: 3.75rem;
}

.content-text4 {
	font-size: 0.75rem;
	color: #333333;
	line-height: 1rem;
	display: block !important;
	position: relative;
}

.remove {
	background: none;
	border: 1px solid #f62525;
	border-radius: 6px;
	height: 30px;
	width: 5rem;
	color: #f62525;
	font-size: 0.75rem;
	position: absolute;
	top: 5rem;
	right: 1rem;
}

.text-number {
	position: absolute;
	top: 0rem;
	font-size: 0.62rem;
	color: #999999;
	right: 0.2rem;
}

.content-text2 {
	position: absolute;
	font-size: 0.62rem;
	color: #999999;
    left: 0;
    bottom: 1rem;
}

.yiwancheng {
	position: absolute;
	right: 4rem;
	top: 0.5rem;
	z-index: 999;
}

.information {
	width: 0.62rem;
	height: 0.62rem;
	border-radius: 0.32rem;
	background: #FF0000;
	margin-top: -1rem;
	margin-right: -1.16rem;
}

.shopping_cart {
	text-align: center;
	margin-top: 8.18rem;
}

.shopping_cart img {
	width: 3.5rem;
}

.text1 {
	margin-top: 0.87rem;
	text-align: center;
}

.text_1 {
	font-size: 0.87rem;
	color: #999999;
}

.product2 img{
	width: 6.25rem !important;
}
.product img{
	width: 3.75rem !important;
	height: 3.75rem !important;
}
