body{
	background: #F0F0F0;
}
.content_product{
	margin-top: 0.625rem;
	background: white;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
}
.content_product span{
	display: inline-block;
}
.product{
	width: 4.37rem;
	height: 4.37rem;
	margin-top: 0.60rem;
	margin-left: 0.93rem;
}
.product img{
	width: 4.37rem;
	height: 4.37rem;
}
.content1-text{
	width: 70%;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.60rem;
	padding-bottom: 10px;
}
.content-text1{
	font-size: 0.93rem;
	color: #333333;
}
.content-text2{
	top: 0rem;
	padding-top: 0.02rem;
	width: 2.06rem;
	height: 0.8rem;
	background: #2f96ee;
	font-size: 0.62rem;
	color: #fff;
	text-align: center;
	line-height: 0.9rem;
	margin-left: 0.3rem;
	border-radius: 2px;
}
.content-text3{
	color: #999999;
	font-size: 0.75rem;
	
}
.xinxi {
	position: absolute;
	bottom: 0;
}
.content-text4 {
	padding: 0.1rem 0.2rem 0;
	background: none;
	font-size: 0.62rem;
	color: #F62525;
	text-align: center;
	margin-right: 0.5rem;
	line-height: 16px;
	border-radius: 2px;
	border: 1px solid #F62525;
	
}
.content-text5 {
	padding: 0rem 0.4rem;
	background: none;
	font-size: 0.62rem;
	color: #4dd2e2;
	text-align: center;
	line-height: 0.6rem;
	border-radius: 2px;
	border: 1px solid #4dd2e2;
}
.content-text6 {
	padding: 0rem 0.1rem;
	
	background: none;
	font-size: 0.62rem;
	color: #5cb3f5;
	text-align: center;
	line-height: 0.6rem;
	border-radius: 2px;
	border: 1px solid #5cb3f5;
}
.content-text7 {
	margin-bottom: 0.625rem;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
	background: #FFFFFF;
	font-size: 0.78rem;
	color: #333333;
	padding-left: 1rem;
	padding-right: 1rem;
}
.content-text8 {
	margin-bottom: 0.625rem;
	width: 100vw;
	padding-left: 1rem;
	background: #FFFFFF;
	line-height: 3rem;
	position: relative;
}
.content-text9 {
	margin-bottom: 1rem;
}
.content-text10 {
	position: relative;
	font-size: 0.93rem;
	color: #999999;
	margin-top: 1rem;
	/*height: 1rem;*/
	padding-right: 1.2rem;
}
.shangchuan {
	background: #FFFFFF;
	padding-left: 1rem;
	padding-top: 1.2rem;
	padding-right: 1rem;
	position: relative;
	margin-bottom: 0.625rem;
}
.zhanting{
	background: #FFFFFF;
	padding-left: 1rem;
	padding-top: 1.2rem;
	padding-right: 1rem;
	position: relative;
	margin-bottom: 0.625rem;
}
.right_arrow {
	width: 0.53rem;
	height: 0.93rem;
	position: absolute;
	right: 1rem;
	top: 2rem;
}
.zhenjian-1 {
	margin-top: 0.5rem;
	width: 9.15rem;
	height: 5.37rem;
	
}
.zhenjian-1 img{
	width: 9.15rem;
	height: 5.37rem;
}
.zhenjian-2 {
	margin-top: 0.5rem;
	width: 9.15rem;
	height: 5.37rem;
	position: absolute;
	right: 1rem;
	top: 2.5rem;
}
.zhenjian-2 img{
	width: 9.15rem;
	height: 5.37rem;
}
.zhenjian-3 {
	margin-top: 1rem;
	width: 9.15rem;
	height: 5.37rem;
}
.zhenjian-3 img{
	width: 9.15rem;
	height: 5.37rem;
}
.zhanting_1 {
	width: 20%;
	display: inline-block;
	margin-top: 0.5rem;
	
	height:16vw;
	text-align: center;
}
.zhanting_2 {
	margin-top: 0.5rem;
	width: 16vw;
	height: 16vw;
	position: absolute;
	top: 2.6rem;	
	left: 23vw;
}
.zhanting_3 {
	margin-top: 0.5rem;
	width: 16vw;
	height: 16vw;
	position: absolute;
	top: 2.6rem;	
	left: 42vw;
}
.zhanting_4 {
	margin-top: 0.5rem;
	width: 16vw;
	height: 16vw;
	position: absolute;
	top: 2.6rem;	
	left: 61vw;
}
.zhanting_5 {
	margin-top: 0.5rem;
	width: 16vw;
	height: 16vw;
	position: absolute;
	top: 2.6rem;	
	left: 80vw;
}
.zhuanweifu {
	height: 1rem;
}
ul{
	padding: 0 0 0 0;
	
}
li{
	list-style-type: none;
	background: white;
}
li{
	padding: 0.81rem 0 1rem 0.93rem;
	border-bottom: 1px solid #e5e5e5;
}
.gordon{
	width: 22.187rem;
	background: #f62525;
	height: 2.75rem;
	border-radius: 10px;
	text-align: center;
	color: white;
	line-height: 2.75rem;
	font-size: 1.12rem;
	margin: 2rem auto 0;
}
.li_text{
	display: inline-block;
	width: 26%;
	font-size: 0.87rem;
	color: #333333;
}
.li_text1{
	font-size: 0.87rem;
	color: #999999;
}
.li_text2{
	font-size: 0.87rem;
	color: #f62525;
}
.mui-navigate-right:after, .mui-push-right:after{
	right: 5px;
	color: #666;
}
